html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F280BF;
  background-image: url("https://www.transparenttextures.com/patterns/az-subtle.png");
}

h1{
  font-weight: bolder;
}

img{
  border-radius: 5px;
}

nav{
  background-color: #F280BF;
  box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px;
}

.inside .col {
  margin-bottom: 20px; /* separa verticalmente cada col */
}


.sticky-nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #F280BF;
  border-radius: 10px 10px 0px 0px;

}

.nav-btn {
  font-weight: bold;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 8px;
  transition: all 0.3s ease;
}


.center {
  max-width: 400px; /* ou sua largura desejada */
  margin: 0 auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}

.inside {
  width: 100%;
  background-color: #ded9cc;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 0px 0px 10px 10px;
  padding: 10px;
  font-weight: bolder;
  color: white;
  overflow-y: auto;
  max-height: 90vh;
  padding-top: 15px;

  /* Oculta scrollbar no WebKit (Chrome, Safari) */
scrollbar-width: none; /* Firefox */
-ms-overflow-style: none;  /* Internet Explorer e Edge antigo */
}

.inside::-webkit-scrollbar {
display: none; /* Chrome, Safari, Opera */
}

.card{
  background-color: #F280BF;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.logo{
  color: #2c3434;
  display: flex;
  align-items: center;
  justify-content: center;
}

.black-card{
  background-color: #cbc7ba;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.scroll-arrow {
  position: sticky;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  opacity: 60%;
  height: auto;
  z-index: 10;
  animation: bounce 1.5s infinite;
}

/* Animação suave de pulo */
@keyframes bounce {
  0%, 100% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(8px);
  }
}
